/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Asterisk selector to remove whitespace */
* {
    padding: 0;
    margin: 0;
}

/* General Style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "poppins", sans-serif;
}

/* Header */
header {
    position: fixed;
    margin-top: auto;
    z-index: 100;
    background-color: rgba(154, 231, 186, 1);
    width: 100%;
    color: black;
    box-shadow: 0 2px 2px rgba(154, 231, 186, 1);
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Header content */
.header-content {
    display: flex;
    align-items: center;
    /* Add space between the logo and the dropdown */
    justify-content: space-between; 
}

/* Logo style */
.logo {
    font-size: 10px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: rgba(154, 231, 186, 1);
    font-family: "poppins", sans-serif;
}

/* Links inside the navbar */
.navbar a {
    font-size: 16px;
    color: inherit;
    text-align: center;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    display: inline-block;
    position: relative;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: inherit;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add underline navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    text-decoration: underline;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px;
    z-index: 101;
    top: 100%;
    left: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Main */



/* Footer */ 
footer {
    /* Push footer to bottom of page */
    margin-top: auto;
}