/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Asterisk selector to remove whitespace */
* {
    padding: 0;
    margin: 0;
}

/* General Style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "poppins", sans-serif;
    font-weight: 200;
}

/* Header */
header {
    position: fixed;
    margin-top: auto;
    z-index: 100;
    background-color: darkgreen;
    width: 100%;
}

/* Main */


/* Footer */ 
footer {
    /* Push footer to bottom of page */
    margin-top: auto;
}