/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Asterisk selector to remove whitespace */
* {
    padding: 0;
    margin: 0;
}

/* General Style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "poppins", sans-serif;
}

h1 {
    font-size: 24px;
}

p {
    font-weight: 700;
}

/* Header */
header {
    position: fixed;
    margin-top: auto;
    z-index: 100;
    background-color: #f2f2f2;
    width: 100%;
    color: #333;
    box-shadow: 0 2px 2px #f2f2f2;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Current page underline for page links (Love Running) */
.active {
    border-bottom: 2px solid black;
}

/* Header content */
.header-content {
    display: flex;
    align-items: center;
    /* Add space between the logo and the dropdown */
    justify-content: space-between;
    /* Move logo from left edge of page */
    padding-left: 8px;
}

/* Navbar container */
.navbar {
    /*overflow: hidden;*/
    background-color: #f2f2f2;
    font-family: "poppins", sans-serif;
}

/* Links inside the navbar */
.navbar a {
    font-size: 16px;
    color: #333;
    text-align: center;
    text-decoration: none;
}

.navbar li {
    list-style-type: none;
}

/* The dropdown container */
.dropdown {
    display: inline-block;
    position: relative;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #333;
    padding: 10px 30px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add underline navbar links on hover */
/* .navbar a:hover, */
/* .dropdown:hover .dropbtn { */
/* border-bottom: 2px solid black; */
/* } */

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 280px;
    z-index: 101;
    top: 100%;
    right: 0;

}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #333;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Link in dropdown display beneath logo */
.dropdown-content ul {
    display: flex;
    justify-content: space-evenly;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Main */
main {
    /* Ensure margin visible beneath header */
    margin-top: 50px;
}

/* Hero (Love Running) */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/back-view-man-playing-golf-field.jpg") no-repeat center center/cover;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* About text over hero image */
#about {
    background-color: rgba(241, 232, 232, 0.5);
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    position: absolute;
    top: 30px;
    width: 60%;
    margin-left: 8px;
}

#about h2 {
    color: #333;
    text-align: center;
    font-size: 110%;
}

#about p {
    color: #333;
    font-size: 80%;
}

/* Stats over hero image */
#stats {
    background-color: rgba(241, 232, 232, 0.5);
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    position: absolute;
    bottom: 270px;
    right: 0;
    width: 60%;
    margin-right: 8px;
}

#stats h2 {
    color: #333;
    text-align: center;
    font-size: 110%;
}

#stats p {
    color: #333;
    font-size: 80%;
}

#community-expl {
    background-color: rgba(241, 232, 232, 0.5);
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    position: absolute;
    bottom: 60px;
    width: 60%;
    margin-left: 8px;
}

#community-expl h2 {
    color: #333;
    text-align: center;
    font-size: 110%;
}

#community-expl p {
    color: #333;
    font-size: 80%;
}

/* Community section */

#community {
    height: 400px;
    background: url(../images/pexels-kindel-media-6573872.jpg) no-repeat center center/cover;
    width: 100%;
}

#community-banner {
    height: 50px;
    background-color: #f2f2f2;
    padding-left: 8px;
    align-items: center;
    display: flex;
    box-shadow: 0 2px 2px #f2f2f2, 0 -2px 2px #f2f2f2;
    color: #333;
}

/* Community sign-up form */
#community-signup {
    background-color: rgba(241, 232, 232, 0.5);
    padding: 8px;
    border-radius: 10px;
    position: relative;
    max-width: 280px;
    color: #333;
    font-size: 80%;
    margin: 10px;
    /* Font match page styling */
    font-weight: 900;
    display: grid;
    justify-content: center;
}

#handicap {
    display: flex;
    justify-content: space-between;
}

/* Long Game and Short Game media containers */
.media-container-label {
    background-color: rgba(241, 232, 232, 0.5);
    border-radius: 10px;
    padding: 10px;
    color: #333;
    width: fit-content;
    margin: 8px;
    text-align: justify;
}

.media-container-label h2 {
    font-size: 110%;
    text-align: center;
}

.media-container-label p {
    color: #333;
    font-size: 80%;
}

.media-container-1 {
    height: fit-content;
    width: 90%;
    overflow-y: auto;
    display: flex;
    gap: 5px;
    /* justify-content: center; */
    margin: auto;
    align-items: center;
    padding: 5px;
}

/* Long Game */
#long-game {
    height: 100vh;
    width: 100%;
    background: url("../images/back-view-man-grassy-golf-field.jpg") no-repeat center center/cover;
    position: relative;
    /* Ensure content fits over image */
    overflow: auto;
}

/* Short Game */
#short-game {
    height: 100vh;
    width: 100%;
    background: url("../images/front-view-man-playing-golf-with-club.jpeg") no-repeat center center/cover;
    /* Ensure content fits over image */
    overflow: auto;
}

/* Footer */
footer {
    /* Push footer to bottom of page */
    margin-top: auto;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #f2f2f2;
    box-shadow: 0 -2px 2px #f2f2f2;
    height: 45px;
    align-items: center;
}

#footer i {
    color: #333;
    padding: 10%;
    font-size: 20px;
}

/* Media query for devices >=768px */
@media screen and (min-width: 768px) {

    /* Header text Responsivity */
    header h1 {
        font-size: 250%;
    }
    
    .navbar a {
        font-size: 150%;
    }
 
    /* Hide the dropdown button */
    .dropbtn {
        display: none;
    }

    /* Display dropdown content in line with Logo*/
    .header-content {
        justify-content: space-between;
    }
    
    /* Style the list items in the header */
    .navbar ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .navbar li {
        margin-right: 1em;
    }

    /* Show the dropdown content */
    .dropdown-content {
        display: flex;
        position: relative;
    }

    /* Main Content */
    main {
        margin-top: 60px;
    }

    #hero {
        height: 800px;
    }

    #about {
        width: 30%;
        margin-left: 30px;
    }

    #about h2 {
        font-size: 160%;
    }

    #about p {
        font-size: 100%;
    }

    #stats {
        width: 30%;
        bottom: 300px;
        margin-right: 30px;
    }

    #stats h2 {
        font-size: 160%;
    }

    #stats p {
        font-size: 100%;
    }

    #community-expl {
        width: 30%;
        margin-left: 30px;
    }
    
    #community-expl h2 {
        font-size: 160%;
    }
    
    #community-expl p {
    font-size: 100%;
    }

    /* Community */
    #community {
        /* height: 450px; */
    }

    #community-banner {
        height: 60px;
    }

    #community-banner h1 {
        font-size: 250%;
    }

    #community-signup {
        font-size: 100%;
        margin-left: 30px;
    }

    /* Long Game and Short Game */
    .media-container-label {
        width: 50%;
        /* hubspot blog - center div contents */
        transform: translate(50%);
    }

    /* Footer Content */
    #footer i {
        font-size: 180%;
    }
}

/* Media query for devices >=1200px */
@media screen and (min-width: 1200px) {
    /* Main Content */
    #hero {
        height: 1000px;
    }

    #about {
        top: 100px;
    }
}