/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Asterisk selector to remove whitespace */
* {
    padding: 0;
    margin: 0;
}

/* General Style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "poppins", sans-serif;
}

/* Header */
header {
    position: fixed;
    margin-top: auto;
    z-index: 100;
    background-color: #f2f2f2;
    width: 100%;
    color: black;
    box-shadow: 0 2px 2px #f2f2f2;
}

header h1 {
    font-size: 24px;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Current page underline for page links (Love Running) */
.active {
    border-bottom: 2px solid black;
}

/* Header content */
.header-content {
    display: flex;
    align-items: center;
    /* Add space between the logo and the dropdown */
    justify-content: space-between;
    /* Move logo from left edge of page */
    padding-left: 8px;
}

/* Navbar container */
.navbar {
    /*overflow: hidden;*/
    background-color: #f2f2f2;
    font-family: "poppins", sans-serif;
}

/* Links inside the navbar */
.navbar a {
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: none;
}

.navbar li {
    list-style-type: none;
}

/* The dropdown container */
.dropdown {
    display: inline-block;
    position: relative;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: black;
    padding: 10px 30px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add underline navbar links on hover */
/* .navbar a:hover, */
/* .dropdown:hover .dropbtn { */
/* border-bottom: 2px solid black; */
/* } */

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 280px;
    z-index: 101;
    top: 100%;
    right: 0;

}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Link in dropdown display beneath logo */
.dropdown-content ul {
    display: flex;
    justify-content: space-evenly;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Main */
main {
    /* Ensure margin visible beneath header */
    margin-top: 50px;
}

/* Hero (Love Running) */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/back-view-man-playing-golf-field.jpg") no-repeat center center/cover;
    position: relative;
}

/* Footer */
footer {
    /* Push footer to bottom of page */
    margin-top: auto;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #f2f2f2;
    box-shadow: 0 -2px 2px #f2f2f2;
    height: 45px;
    align-items: center;
}

#footer i {
    color: black;
    padding: 10%;
    font-size: 20px;
}


/* Media query for devices >=768px */
@media screen and (min-width: 768px) {

    /* Header text Responsivity */
    header h1 {
        font-size: 250%;
    }
    
    .navbar a {
        font-size: 150%;
    }
 
    /* Hide the dropdown button */
    .dropbtn {
        display: none;
    }

    /* Display dropdown content in line with Logo*/
    .header-content {
        justify-content: space-between;
    }
    
    /* Style the list items in the header */
    .navbar ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .navbar li {
        margin-right: 1em;
    }

    /* Show the dropdown content */
    .dropdown-content {
        display: flex;
        position: relative;
    }

    /* Main Content */
    main {
        margin-top: 60px;
    }

    /* Footer Content */
    #footer i {
        font-size: 180%;
    }
}